.mainDiv {
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #F0F0F0;
    z-index: 1;
    width: 200px;
}

.formRow {
    display: flex;
}

.inputWrapper {
    display: flex;
}

.input {
    width: 100%;
}